.wrapper {
    width: 100%;
    height: 12em;
    border-radius: 0.5em;
    overflow: hidden;
    background-color: transparent;
    cursor: pointer;
}

.img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (max-width: 600px) {
    .wrapper {
        height: 10em;
    }
}

@media (max-width: 520px) {
    .wrapper {
        /* width: 8em; */
        margin: 0 auto;
    }
}

@media (max-width: 390px) {
    .wrapper {
        width: 8em;
        margin: 0 auto;
    }
}

@media (max-width: 370px) {
    .wrapper {
        width: 65%;
        margin: 0 auto;
    }
}