.wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 2.5em;
    padding-top: 2.5em;
}

.title {
    text-transform: uppercase;
    font-size: 1.25em;
    margin-bottom: 0 !important;
}

.divider {
    color: #FFFFFF;
    font-size: 1.25em;
}

.subtitle {
    color: #FFFFFF;
    font-size: 1.25em;
}

.icon_wrapper_green {
    background-color: rgb(83, 186, 103);
    padding: 0.75em 1em;
    border-radius: 40%;
    margin-right: 1em;
}

.icon_wrapper {
    background-color: rgb(239, 146, 180);
    padding: 0.75em 1em;
    border-radius: 40%;
    margin-right: 1em;
}

.icon {
    font-size: 1.25em;
    text-align: center;
    color: #000000;
}

@media (max-width: 1000px) {
    .divider {
        display: none;
    }
    
    .subtitle {
        display: none;
    }
}