.nav_bg {
    background-color: rgb(239, 146, 180);
    height: 7em;
  }
  
  .width_wrapper {
    background-color: rgb(83, 186, 103);
    padding-bottom: 1.5em;
    min-height: 60vh;
  }

.wrapper {
    width: 75%;
    margin: 0 auto;
}

.documents {
    display: flex;
    flex-direction: column;
}

.link {
    color: #FFFFFF;
    margin-bottom: 1em;
    cursor: pointer;
}

.link:hover {
    color: rgb(239, 146, 180);
}

@media (max-width: 1024px) {
    .nav_bg {
      height: 10vh;
    }

    .width_wrapper {
        min-height: 65vh;
    }
  }

@media (max-width: 800px) {
    .wrapper {
        width: 85%;
    }
}

@media (max-width: 550px) {
    .wrapper {
        width: 90%;
    }
}