.wrapper {
    display: flex;
    flex-direction: column;
    text-shadow: 1px 1px #000000;
    align-items: center;
}

.number {
    font-size: 3em;
    font-weight: 900;
}

.text {
    text-transform: uppercase;
    font-size: 1em;
}